<div class="offset-md-2 col-md-8">
  <a id="initpos"></a>
  <section class="card row">
    <div class="modal-header mt-2">
      <h4 class="modal-title">{{'menu.Privacy Policy' | translate }}</h4>
      <button type="button" class="pull-right btn btn-secondary btn-raised mb-0" (click)="back()">{{'generics.Back' | translate }}</button>
    </div>
    <div class="modal-body">
      <app-policy></app-policy>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="back()">{{'generics.Back' | translate }}</button>
    </div>
  </section>
</div>