<h4>{{'consenttext.p2' | translate }}</h4>
      <p>{{'consenttext.p2.1' | translate }}</p>
      <p>{{'consenttext.p2.2' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p3' | translate }}</h4>
      <p>{{'consenttext.p3.1' | translate }}</p>
      <p>{{'consenttext.p3.2' | translate }}</p>



      <h4 class="mt-4">{{'consenttext.p4' | translate }}</h4>
      <p>{{'consenttext.p5' | translate }}</p>
      <ul>
        <li>{{'consenttext.p5.1' | translate }}</li>
        <li>{{'consenttext.p5.2' | translate }}</li>
        <li>{{'consenttext.p5.3' | translate }}</li>
        <li>{{'consenttext.p5.4' | translate }}</li>
      </ul>

      <p>{{'consenttext.p5.5' | translate }}</p>
      <ul>
        <li>{{ 'consenttext.p5.5.1' | translate }}
            <ul>
                <li>{{ 'consenttext.p5.5.1.1' | translate }}</li>
                <li>{{ 'consenttext.p5.5.1.2' | translate }}</li>
                <li>{{ 'consenttext.p5.5.1.3' | translate }}</li>
                <li>{{ 'consenttext.p5.5.1.4' | translate }}</li>
            </ul>
        </li>
        <li>{{ 'consenttext.p5.5.2' | translate }}
            <ul>
                <li>{{ 'consenttext.p5.5.2.1' | translate }}</li>
            </ul>
        </li>
      </ul>
      <p>{{'consenttext.p5.6' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p6' | translate }}</h4>
      <p>{{'consenttext.p6.1' | translate }}</p>
      <ul>
        <li>{{'consenttext.p6.1.1' | translate }}</li>
        <li>{{'consenttext.p6.1.2' | translate }}</li>
      </ul>

      <h4 class="mt-4">{{'consenttext.p7' | translate }}</h4>
      <p>{{'consenttext.p7.1' | translate }}</p>
      <p>{{'consenttext.p7.2' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p8' | translate }}</h4>
      <p>{{'consenttext.p8.1' | translate }}</p>
      <ul>
        <li>{{'consenttext.p8.2' | translate }}</li>
        <li>{{'consenttext.p8.3' | translate }}</li>
        <li>{{'consenttext.p8.4' | translate }}</li>
        <li>{{'consenttext.p8.5' | translate }}</li>
        <li>{{'consenttext.p8.6' | translate }}</li>
        <li>{{'consenttext.p8.7' | translate }}</li>
        <li>{{'consenttext.p8.8' | translate }}</li>
      </ul>
      <p>{{'consenttext.p8.9' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p9' | translate }}</h4>
      <p>{{'consenttext.p9.1' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p10' | translate }}</h4>
      <p>{{'consenttext.p10.1' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p11' | translate }}</h4>
      <p>{{'consenttext.p11.1' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p12' | translate }}</h4>
      <p>{{'consenttext.p12.1' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p13' | translate }} </h4>
      <p>{{'consenttext.p13.1' | translate }}</p>
      <p>{{'consenttext.p13.2' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p14' | translate }} </h4>
      <p>{{'consenttext.p14.1' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p15' | translate }} </h4>
      <p>{{'consenttext.p15.1' | translate }}</p>
      <p>{{'consenttext.p15.2' | translate }}</p>
      <p>{{'consenttext.p15.3' | translate }}</p>

      <h4 class="mt-4">{{'consenttext.p16' | translate }} </h4>
      <p>{{'consenttext.p16.1' | translate }}</p>

      <p>{{'consenttext.p17' | translate }}</p>